$bg: rgba(43, 52, 40, 0.7);
$fg: rgb(77, 102, 78);
$accent: #e6b863;
$text: #f2f2f2;

//.drawer__inner__mastodon > img {display: none;}

.drawer__inner, .drawer__inner__mastodon {
    background: #72977b00 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="%23475a4890"/></svg>') no-repeat bottom/100% auto !important;
}

body, body.lighter .landing-page, .public-layout, .columns-area__panels {
    background: url('../images/flora/flora.jpg') !important;
    background-position: center center !important;
    background-attachment: fixed !important;
}

body.app-body.layout-multiple-columns {
    .columns-area {
	background: url('../images/flora/flora.jpg');
	background-position: center center;
	background-attachment: fixed;
    }
}

/* vignette on headers and dropdowns */
.column-header { box-shadow: inset 0 0 8px 8px rgba(0,0,0,0.1);}

.navigation-panel, .column-header {
    border-radius: 8px 8px 0 0;
}

.account-authorize__wrapper, .conversation, .follow_requests-unlocked_explanation, .status, .search__input {
    border-radius: 8px;
}

/*.status__content__text {
    margin-left: 0.25em;
}*/

.compose-form__buttons-wrapper {
    border-radius: 0px 0px 4px 4px;
}

.column-header__button {background: transparent !important;}
.column-header__collapsible-inner {box-shadow: inset 0 0 10em 10em rgba(0,0,0,0.1);}

/*.columns-area--mobile .status {
    padding: 0;
}*/

.notification .account {
    background: #323E3395;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 2px #000;
}

/*.status {
    padding: 15px 8px 8px 8px !important;
}

.notification-favourite .status,
.notification-poll .status,
.notification-reblog .status {
    padding: 15px 8px 8px 78px !important;
}

.status__info {
    padding: 5px 0px 10px 60px !important;
}*/

.tabs-bar__wrapper {
    padding: 0;
}

.privacy-dropdown__dropdown, .emoji-mart-scroll,
.getting-started__footer, .emoji-mart-category-label span,
.emoji-mart-search {
    background: var(--bg);
}

.emoji-mart-bar:first-child {
    background: var(--bgHead);
}

.compose-form__uploads-wrapper {
    padding: 15px;
}

@media (max-width: 630px) {
    .columns-area__panels, body {
	background: url('../images/flora/flora.jpg');
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center;
    }
}

.status__expand {
    height: 68px;
}


.form-container {
    background: var(--bg);
    color: var(--text);
    border-radius: 8px;
}

code {
    background-color: darken($bg, 5%);
}

.poll__option input[type="text"], .compose-form__poll-wrapper .poll__footer select {
    color: rgba(54,65,50);
}