// author: twoheart

@import 'mastodon-light/variables';
@import 'application';
@import 'mastodon-light/diff';

body {
  background-color: #acdae5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
}

// #5ba0ea
.button {
  background-color: #5ba0ea;
  border-color: #5ba0ea;
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    background-color: #2267b1;
    border-color: #2267b1;
    color: #fff;
  }
}

.column-link.active {
  color: #2267b1;
}

.columns-area__panels__main {
  background-color: #fff;
}

.navigation-panel {
  background-color: #e2f2da;
}

.columns-area__panels__pane--navigational {
  background-color: transparent !important;
  box-shadow: none !important;
  // margin: 20px 0 !important;
}
// #e2f2da

.getting-started__footer {
  display: none;
}

.search {
  margin: 10px;
}

.layout-single-column {
  .search {
    margin: 0;
    margin-bottom: 10px;
  }
}

.search__input {
  background: #fff;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.compose-form__highlightable {
  border: none;
}
.column-header {
  border: none;
  // border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.status {
  border-bottom: 1px solid #eee;
}

.column-link--transparent {
  background: transparent;
  color: #0066cc;
}

article:hover {
  background: #f5f5f5;
}

.compose-form {
  padding: 10px 0;
  border-radius: 4px;
}

.column-header {
  border-radius: 4px 4px 0 0;
}

.navigation-panel__logo {
  display: none !important;
}

.columns-area--mobile {
  padding: 0;
}

@media screen and (min-width: 1175px) {
  .columns-area__panels__main {
    margin: 20px 0;
  }

  .columns-area__panels__pane__inner {
    margin-top: 10px;
  }

  .columns-area__panels__main {
    border-radius: 10px;
    background-color: #fff;
  }

  .navigation-panel {
    border-radius: 10px !important;
  }

  .inline-compose-panel {
    .compose-form .autosuggest-textarea__textarea {
      padding: 10px 20px;
    }
  }
}
