$action-button-color: #ddffd6;
$highlight-text-color: #e6b863;
$ui-highlight-color: $highlight-text-color;
$primary-text-color: #f2f2f2;
$ui-base-color: rgba(238,225,191, 0.6);
$darker-text-color: #ece3cd;
$secondary-text-color: #e8b99b;

@import 'application';

@import 'mfc/mastodonFlat';
@import 'flora/palette';
@import 'flora/overrides';

//@import 'mods/display_breakname';
//@import 'mods/display_fullname';
//@import 'mods/display_browserfont';
//@import 'mods/display_circleavatar';
//@import 'mods/display_collapsedinteractions';
@import 'mods/display_fadedinteractions';
//@import 'mods/display_transparentmedia';
//@import 'mods/layout_1600px';
//@import 'mods/layout_elefriend';
//@import 'mods/layout_widercolumns';
//@import 'mods/layout_mobile_bottombar';
