// http://pokepalettes.com/#jigglypuff
$ui-base-color: #9c9483; // darkest #1
$ui-highlight-color: #b4b49c; // vibrant #3
$ui-secondary-color: #413931; // lightest #7
$ui-primary-color: #d7e2c4; // lighter #0
$ui-primary-color-alt: #cddecd; // darker, for external pages #2

$about-page-text: lighten($ui-base-color, 50%);

@import 'application';

