.wrapper {
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-text-secondary);
  opacity: 0.6;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  &[data-context='default'] {
    padding: 16px 0;
  }

  &[data-context='multi-column'] {
    padding: 15px;
  }

  &[data-context='about'] {
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;

    @media screen and (width >= 1175px) {
      display: none;
    }
  }
}

.list {
  display: inline;

  li {
    display: inline;

    &:not(:last-child)::after {
      content: ' · ';

      @supports (content: 'x' / 'y') {
        content: ' · ' / '';
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: var(--color-text-primary);
      text-decoration: none;
    }
  }
}

.version {
  white-space: nowrap;
  font-family: mastodon-font-monospace, monospace;
  font-size: 11px;
  letter-spacing: 0.02em;
}
