/*---------
MISC TWEAKS
 * infinity bridge
 * images from artstation.com/natureintheory
 * !!! Please don't use those images on your website,
 * !!! I'm still asking for the author's permission
---------*/

/* replace elephant friend with Klein bottle */
.drawer__inner__mastodon {
    background: url('../images/olena-shmahalo-spots-layout.png')
		no-repeat bottom center / contain !important;
    @media screen and (min-height: 630px) {
	display: block;
    }
}
.drawer__inner__mastodon > img {display: none;}

/* infinite bridge */
.columns-area {
    background: url('../images/infinity_bridge.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;           
}

/* vignette on headers and dropdowns */
.column-header {box-shadow: inset 0 0 8px 8px rgba(0,0,0,0.1);}
.column-header__button {background: transparent !important;}
.column-header__collapsible-inner {box-shadow: inset 0 0 10em 10em rgba(0,0,0,0.1);}

/* mobile */
@media (max-width: 630px) {    
    .columns-area {
	background: url("../images/infinity_bridge_mobile.jpg");
	background-size:     cover;
	background-attachment: fixed;
	background-position: center center;           
    }
}
